
<div fxLayout="column" fxFill fxLayoutAlign="center center">
  <mat-icon color="accent" class="profile-option-icon">warning</mat-icon>

  <button mat-flat-button color="warn">Deactivate Account</button>
</div> 
  
  