<div *ngIf="isOpen">
  <!-- backdrop -->
  <div class="dialogue-container"></div>
  
  <!-- window --> 
  <div id="job-view-window" class="mat-elevation-z16 dialogue-window" fxLayout="column">

    <div class="dialogue-header">View Job Details</div>
    <mat-divider></mat-divider>

    <div fxLayout="row" >
      
      <div fxLayout="column" class="dialogue-content" style="width: 50%">
        <label [ngStyle]="{color: job.color}"class="dialogue-label" style="margin-top: 0px">Title</label>
        <div>{{ job.title }}</div>

        <label [ngStyle]="{color: job.color}"class="dialogue-label">Description</label>
        <div>{{ job.description }}</div>

        <label [ngStyle]="{color: job.color}" class="dialogue-label">Place</label>
        <div>{{ job.place.name }}</div>

        <div *ngFor="let custom of job.customs; let i = index">
          <div *ngIf="i % 2 == 0" style="margin-top: 20px">                                                               <!-- Hide the (Custom) tag -->
            <label [ngStyle]="{color: job.color}" class="dialogue-label">{{ custom.name.slice(0, custom.name.length - 9) }}</label>
            <div>{{ custom.value }}</div>
          </div>
        </div>
      </div>


      <div fxLayout="column" class="dialogue-content large-margin-bottom" style="width: 50%">
        <label [ngStyle]="{color: job.color}" class="dialogue-label" style="margin-top: 0px">Date</label>
        <div>{{ job.date.getDate() + '/' + job.date.getMonth() + '/' + job.date.getFullYear() }}</div>
             
        
        <label [ngStyle]="{color: job.color}" class="dialogue-label">Time</label>
         <div> {{ (job.date.getHours().toString().length < 2 ? '0' : '') + (job.date.getHours()) + ':' + (job.date.getMinutes().toString().length < 2 ? '0' : '') + (job.date.getMinutes()) }} </div>
      
         <label [ngStyle]="{color: job.color}" class="dialogue-label">User(s)</label>
         <ul *ngFor="let user of job.users" id="job-view-users">
           <li>{{ user.alias }}</li>
         </ul>

         <div *ngFor="let custom of job.customs; let i = index">
          <div *ngIf="i % 2 == 1" style="margin-top: 20px">                                                                <!-- Hide the (Custom) tag -->
            <label [ngStyle]="{color: job.color}" class="dialogue-label">{{ custom.name.slice(0, custom.name.length - 9) }}</label>
            <div>{{ custom.value }}</div>
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutAlign="end center" class="medium-margin">

      <button *ngIf="!job.completed" type="submit" (click)="complete()" mat-raised-button 
      [ngClass]="{'complete-button' : !(user.permissions && !user.permissions.includes('organiser') && !meInJobUsers) }"
      [disabled]="user.permissions && !user.permissions.includes('organiser') && !meInJobUsers">Complete</button>

      <button *ngIf="job.completed" type="submit" (click)="reopen()" mat-raised-button
      [ngClass]="{'reopen-button' : !(user.permissions && !user.permissions.includes('organiser') && !meInJobUsers) }"
      [disabled]="user.permissions && !user.permissions.includes('organiser') && !meInJobUsers">Reopen</button>
      
      <button type="button" (click)="edit()" mat-raised-button color="accent" style="margin: 0 5px"
      [disabled]="job.completed || (user.permissions && !user.permissions.includes('organiser') && !meInJobUsers)">Edit</button>

      <button type="button" (click)="archive()" mat-raised-button color="accent" style="margin: 0 5px"
      [disabled]="job.archived || (user.permissions && !user.permissions.includes('organiser') && !meInJobUsers)">Archive</button>

      <button type="button" (click)="close()" mat-raised-button color="warn" style="margin: 0 0 0 5px">Close</button>
    </div>

</div>
  