<div fxLayout="row" #datepicker (window:resize)="onResize($event)">
  
  <div *ngFor="let date of displayedButtons" class="medium-padding" [attr.data-month]="date.text">
    <button *ngIf="date.text != selectedDate.text" mat-flat-button color="accent" (click)="selectDate(date)" class="date">{{date.text}}</button>
    <button *ngIf="date.text == selectedDate.text" mat-flat-button class="selected-date">{{date.text}}</button>
  </div>
  <span class="flex"></span>
  
  <form [formGroup]="myForm">
    <mat-form-field floatLabel="never" color="accent">
      <input matInput placeholder="MM/YYYY" formControlName="date">
      <mat-error>Invalid Date</mat-error>
    </mat-form-field>
  </form>
  
  <div class="medium-padding">
    <button 
      mat-flat-button 
      color="accent"
      (click)="viewInput()"
      [disabled]="dateControl.errors || dateControl.value.length != 7"
    >
      View
    </button>
  </div>

</div>