<div fxLayout="column" fxFill fxLayoutAlign="center center">
  <div *ngIf="imageForCropping" fxLayout="column" fxFill>
    <image-cropper
      class="mat-elevation-z2"
      style="width: 500px; max-height: 450px"
      [maintainAspectRatio]="true"
      [aspectRatio]="1/1"
      [resizeToWidth]="100"
      format="png"
      [imageBase64]="imageForCropping"
      (imageCropped)="cropImage($event)"
    ></image-cropper>

    <div fxLayout fxLayoutAlign="center">
    <button (click)="cancelCrop()" class="medium-margin"
    mat-flat-button color="accent">
      Cancel
    </button>

    <button (click)="confirmCrop()" class="medium-margin"
    mat-flat-button color="primary">
      Confirm
    </button>
    </div>
  </div>

  <div>
  
  </div>

  <div *ngIf="!imageForCropping">
    <mat-icon color="primary" id="edit-user-image-overlay" (mouseenter)="imageHover = true" 
    (mouseleave)="imageHover = false" (click)="editPicture()">{{ imageHover ? 'edit': ''}}</mat-icon>
    
    <div id="edit-user-image">
      <img *ngIf="picture" [src]="picture" width="100" height="100">
      <mat-icon *ngIf="!picture" style="font-size: 100px">person</mat-icon>
    </div>
    <input #pictureInput type="file" (change)="onPictureChange($event)" style="display: none">
  </div> 

  <button mat-flat-button color="warn" class="medium-margin-y" (click)="removePicture()" *ngIf="!imageForCropping && picture && user.picture">
    <mat-icon>delete</mat-icon>
    <span>Remove Image</span>
  </button>

  <form fxLayout="column" fxLayoutAlign="center center" class="user-form" [formGroup]="informationForm"
  [ngStyle]="{ 'display': imageForCropping ? 'none' : 'flex'}">
    <mat-form-field>
      <input (keyup)="onInputChange()" matInput formControlName="forename"
      placeholder="Forename" autocomplete="off"/>
    </mat-form-field>

    <mat-form-field>
      <input (keyup)="onInputChange()" matInput formControlName="surnames"
      placeholder="Surnames" autocomplete="off"/>
    </mat-form-field>

    <mat-form-field>
      <input (keyup)="onInputChange()" matInput formControlName="email"
      placeholder="Email" autocomplete="off"/>
    </mat-form-field>

    <div fxlayout="row" fxLayoutAlign="space-evenly">
      <button type="button" [disabled]="!formChanges" 
      mat-flat-button color="accent" (click)="setFormData()">
        Undo
      </button>

      <button type="submit" [disabled]="!formChanges" (click)="submit()"
      mat-flat-button color="primary">
        Save Changes
      </button>
    </div>
  </form>
</div>