
<form fxLayout="column" fxFill fxLayoutAlign="center center" class="profile-form" [formGroup]="passwordsForm">
  <mat-icon color="accent" class="profile-option-icon">security</mat-icon>
  
  <mat-form-field>
    <input matInput type="password" formControlName="old" placeholder="Old Password" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" formControlName="new" placeholder="New Password" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" formControlName="confirmNew" placeholder="Confirm New Password" />
  </mat-form-field>


  <div fxlayout="row" fxLayoutAlign="space-evenly">
    <button type="submit" mat-flat-button color="primary">Confirm Change</button>
  </div>

</form>