<mat-toolbar color="primary">
  <!-- <img src="assets/images/example-logo.jpg" id="toolbar-logo"> -->
  <span routerLink="/home" class="pointer">Job Calendar</span>
  <span class="flex"></span>
  <button (click)="openJobEntry()" mat-icon-button matTooltip="Create Job"><mat-icon>add</mat-icon></button>
  <app-calendar-list></app-calendar-list>
  <button mat-icon-button matTooltip="Notifications"><mat-icon>notifications</mat-icon></button>
  <app-user-card></app-user-card>
</mat-toolbar>