<div id="login-container" color="primary" class=" full-width large-padding mat-elevation-z20">
  
  <div fxLayout="row" fxLayoutAlign="center">
    <!-- <img id="login-logo" src="../../../assets/images/ratemytea.png"> -->
    <div id="login-title">Jobswift</div>
  </div>
  
  <div style="font-size: 20px; text-align: center">
      Welcome to Job Calendar. Please sign in, or create an account.
  </div>
  
  <form>
    <mat-form-field class="full-width medium-margin-top">
      <input matInput placeholder="Email" name="Email" [(ngModel)]="userDetails.email">
    </mat-form-field>
    <mat-form-field class="full-width no-padding">
      <input type="password" matInput placeholder="Password" name="Password" [(ngModel)]="userDetails.password">
    </mat-form-field>
  </form>
  
  <div class="medium-margin-bottom warn" *ngIf="error.length > 0">{{error}}</div>
  
  <button mat-raised-button color="primary" class="full-width" (click)="login()">Sign In</button>
  <div class="login-alternative">Don't have an account?</div>
  <button mat-raised-button color="primary" class="full-width" routerLink="/register">Create Account</button>
  
</div>