<div fxLayout="row" class="calendar-days">
  <div>Sunday</div>
  <div>Monday</div>
  <div>Tuesday</div>
  <div>Wednesday</div>
  <div>Thursday</div>
  <div>Friday</div>
  <div>Saturday</div>
</div>

<div fxLayout="column" class="calendar-container" [ngStyle]="{'height': CalendarHeight}" #calendar>
  
  <div *ngFor="let row of rows" fxLayout="row">
    
    <app-calendar-tile [ngStyle]="{'height': (calandarHeight / rowNumber) + 'px'}"
    *ngFor="let column of columns" class="tile"
    [data]="gridData[((row-1)*7)+column]"
    [ngClass]="{
        'tile-border-top': row > 1,
        'tile-border-right': column < columns.length
    }"
    ></app-calendar-tile>
  
  </div>
</div>