<app-toolbar *ngIf="session"></app-toolbar>
<!-- faded background to make less boring.. -->

<app-background></app-background>

<!-- Dialogues -->
<app-job-entry *ngIf="session"></app-job-entry>
<app-job-view></app-job-view>

<!-- Routes -->
<router-outlet></router-outlet>