<div 
  fxLayout="column"
  class="calendar-tile"
  [ngClass]="{'today': today}"
  (mouseenter)="displayCreateButton()"
  (mouseleave)="hideCreateButton()"
>

  <!-- date number & create button -->
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="calendar-date">{{data.text}}</div>
    <button 
      mat-button 
      class="create-job-tile-button"
      *ngIf="createButton"
      (click)="createJob(data.date)"
    >
      Create Job
    </button>
  </div>

  
  <!-- jobs --> 
  <div *ngIf="jobs" [ngStyle]="{ 'margin-top' : filteredJobs.length > 2 ? '21px' : '0px' }">
    <!-- elvis operator will not work when evaluating jobs.. eg. jobs?[...], so ngIf above -->
    <div *ngFor="let job of filteredJobs">
      <div 
        fxLayout="row" 
        class="job" 
        [ngStyle]="{background: job.color}"
        (click)="openJobView(job)"
      >
        <div class="completed-job mat-elevation-z2" *ngIf="job.completed">
          COMPLETED
        </div>

        <div class="incomplete-job mat-elevation-z2" *ngIf="job.overdue">
          <mat-icon [ngClass]="incompleteJobTicker ? 'incomplete-job-phase-1' : 'incomplete-job-phase-2'">
            notification_important
          </mat-icon>
        </div>

        <div fxLayout="column" class="small-padding calendar-column">
          <div class="job-title">{{ job.title }}</div>
          <div class="job-place">Place: {{ job.place.name }}</div>
        </div>
        <div class="flex"></div>
        
        <div fxLayout="column" class="small-padding">
          <div class="job-time">
            {{job.date.getHours().toString().length < 2 ? '0' : null}}{{job.date.getHours()}}:{{(job.date.getMinutes().toString().length < 2 ? '0' : null)}}{{job.date.getMinutes()}}
          </div>
          <div class="job-user" fxLayout="row">
            <div>Users:&nbsp;</div>
            <div *ngFor="let user of job.users; let i = index">{{i == 0 ? '' : ', '}}{{ user.alias }}</div>
          </div>
        </div>
    
      </div>
    </div>
  </div>
  
</div>