
<mat-form-field floatLabel="never" class="filter" *ngIf="this.teamUuid != this.usersList[0].uuid">
  <mat-select placeholder="Users" multiple  [(ngModel)]="users" (ngModelChange)="updateFilters('users', users)">
    <div fxLayout="row">
        <button (click)="selectAll('users', 'usersList')" mat-stroked-button style="width: 50%" color="primary">Select All</button>
        <button (click)="removeAll('users')" mat-stroked-button style="width: 50%">Remove All</button>
    </div>
    <mat-option *ngFor="let user of usersList" [value]="user">{{ user.alias }}</mat-option>
  </mat-select>
</mat-form-field>
    
<mat-form-field floatLabel="never" class="filter">
  <mat-select placeholder="Places" multiple [(ngModel)]="places" (ngModelChange)="updateFilters('places', places)">
    <div fxLayout="row">
      <button (click)="selectAll('places', 'placesList')" mat-stroked-button style="width: 50%" color="primary">Select All</button>
      <button (click)="removeAll('places')"mat-stroked-button style="width: 50%">Remove All</button>
    </div>
    <mat-option *ngFor="let place of placesList" [value]="place">{{ place.name }}</mat-option>
  </mat-select>
</mat-form-field>
    
<mat-form-field floatLabel="never" class="filter">
  <mat-select placeholder="Status" multiple [(ngModel)]="status" (ngModelChange)="updateFilters('status', status)">
    <div fxLayout="row">
      <button (click)="selectAll('status', 'statusList')" mat-stroked-button style="width: 50%" color="primary">Select All</button>
      <button (click)="removeAll('status')"mat-stroked-button style="width: 50%">Remove All</button>
    </div>
    <mat-option value="open">Open</mat-option>
    <mat-option value="completed">Completed</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field floatLabel="never" class="filter">
  <mat-select placeholder="Activity" multiple [(ngModel)]="activity" (ngModelChange)="updateFilters('activity', activity)">
    <div fxLayout="row">
      <button (click)="selectAll('activity', 'activityList')" mat-stroked-button style="width: 50%" color="primary">Select All</button>
      <button (click)="removeAll('activity')"mat-stroked-button style="width: 50%">Remove All</button>
    </div>
    <mat-option value="active">Active</mat-option>
    <mat-option value="archived">Archived</mat-option>
  </mat-select>
</mat-form-field>

<!-- @TODO: sort later  -->
<!-- <mat-form-field floatLabel="never" class="filter">
  <mat-select placeholder="Tags" multiple [(ngModel)]="tags" (ngModelChange)="updateFilters('tags', tags)" disabled="true">
    <div fxLayout="row">
      <button (click)="selectAll('tags')" mat-stroked-button style="width: 50%" color="primary">Select All</button>
      <button (click)="removeAll('tags')"mat-stroked-button style="width: 50%">Remove All</button>
    </div>
    <mat-option *ngFor="let tag of tagsList" [value]="tag">
      <div fxLayout="row" fxLayoutAlign="start center">
        <span>{{tag.name}}</span>
        <span class="tag" [ngStyle]="{'background': tag.color}"></span>
      </div>
    </mat-option>
  </mat-select>
</mat-form-field> -->

<span class="large-margin-left">
  <button (click)="setDefaults()" mat-flat-button color="primary">Reset</button>
</span>