<div [ngClass]="{ 'hide': !isOpen }">
  <div class="dialogue-container"></div>

  <!-- window --> 
  <div id="job-entry-window" class="mat-elevation-z16 dialogue-window">
    
    <div class="dialogue-header">Job Details</div>

    <mat-divider></mat-divider>
    
    <form 
      [formGroup]="entryForm" 
      #formDirective="ngForm" 
      class="dialogue-content"
    >        
      <div fxLayout="row">
        <mat-form-field class="medium-margin-right">
          <input matInput [matDatepicker]="picker" placeholder="Date" autocomplete="off"
          formControlName="date" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field [formGroup]="entryForm" style="width: 165px">
          <mat-select placeholder="Time" formControlName="time">
            <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
        
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" autocomplete="off">
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="description" autocomplete="off">
      </mat-form-field>
      
      <mat-form-field>
        <mat-select placeholder="User(s)" multiple formControlName="users">
          <mat-option [disabled]=" user.permissions && !user.permissions.includes('organiser') && user != me" 
          *ngFor="let user of users" [value]="user">{{user.alias}}</mat-option>
        </mat-select>
      </mat-form-field>
        
      <mat-form-field [hidden]="this.entryForm.value.placeName" style="width: 150px">
        <mat-select placeholder="Place" formControlName="place">
          <mat-option *ngFor="let place of places" [value]="place">{{place.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Location" formControlName="location" autocomplete="off">
      </mat-form-field>

      <div fxLayout="column" id="custom-fields-form">
        <div 
          *ngFor="let custom of keys(entryForm.controls); let i = index"
        >
          <div
            fxLayout="row" 
            fxLayoutAlign="center center"
            *ngIf="keys(entryForm.controls)[i].includes('(Custom)')"
          >
            <mat-form-field class="custom-form-field">
              <input matInput [placeholder]="custom" autocomplete="off" [formControlName]="custom" />
            </mat-form-field>
            
            <button mat-icon-button color="warn" (click)="removeCustomField(custom)">
                <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>


      <div [hidden]="fieldEntry" class="full-width medium-margin-top">
        <button 
          type="button" 
          mat-raised-button 
          color="primary" 
          (click)="initFieldEntry()"
        >
          Create Field
        </button>
      </div> 

      <div 
        id="field-entry" 
        [hidden]="!fieldEntry"
      >
        <form 
          [formGroup]="newFieldEntryForm" 
          #newFieldEntryFormDirective="ngForm"
        >
          <div fxLayout="column">
            <mat-form-field>
              <input matInput placeholder="Field Title (e.g., Client Number)" autocomplete="off" formControlName="name"/>
            </mat-form-field>
          
            <mat-form-field>
              <input matInput placeholder="Field Value (e.g., 01234 567 890)" autocomplete="off" formControlName="value"/>
            </mat-form-field>
          </div>
        </form>

        <div [hidden]="!fieldEntry" fxLayout="row" fxLayoutAlign="end center">
          <button 
            (click)="createFieldEntry()" 
            mat-raised-button color="primary" 
            style="margin: 0 5px"
            [disabled]="this.newFieldEntryForm.invalid"
          >
            Add
          </button>
          <button (click)="cancelFieldEntry()" mat-raised-button color="warn" style="margin: 0 0 0 5px">Cancel</button>
        </div>
      </div>

      <label id="color-label">Label Color</label>
      <ul id="color-selection"> 
          <li *ngFor="let color of colors"
            class="color-selection-item" 
            [ngStyle]="{ 'background' : color }"
            (click)="selectColor(color)"
          >
            <mat-icon>
              {{ entryForm.value.color === color ? 'done' : '' }}
            </mat-icon>
          </li>
        </ul>
    </form>

    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="end center" class="medium-padding">
      <button (click)="submit()" mat-raised-button color="primary" style="margin: 0 5px"
      [disabled]="this.entryForm.invalid">
        Save
      </button>
      <button (click)="resetForm()" mat-raised-button color="accent" style="margin: 0 5px">Reset</button>
      <button (click)="close()" mat-raised-button color="warn" style="margin: 0 0 0 5px">Cancel</button>
    </div>
  </div>
</div>
