<div id="app-profile" class="mat-elevation-z16">
  <div fxLayout="row" fxFlex="grow">
    <ul fxLayout="column" id="profile-options">
      <li><button mat-button routerLink="/profile/information" [ngClass]="{'selected-profile-option': selected == '/profile/information'}">Profile Information</button></li>
      <li><button mat-button routerLink="/profile/passwords" [ngClass]="{'selected-profile-option': selected == '/profile/passwords'}">Password</button></li>
      <li><button mat-button routerLink="/profile/notifications" [ngClass]="{'selected-profile-option': selected == '/profile/notifications'}">Notifications</button></li>
      <li><button mat-button routerLink="/profile/preferences" [ngClass]="{'selected-profile-option': selected == '/profile/preferences'}">Preferences</button></li>
      <li><button mat-button routerLink="/profile/deactivate" [ngClass]="{'selected-profile-option': selected == '/profile/deactivate'}">Deactivate Account</button></li>
    </ul>
    
    <div fxFlex>
      <router-outlet></router-outlet>
    </div>

  </div>
</div>