
//
// elements
//

body {
  background: white;
  margin: 0;
  font-family: 'Roboto';
}

mat-form-field[hidden] {
  display: none;
}

//
// components
// 

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
}
#datepicker-container {
  background: red;
}


//
// mixins 
//

.bold {
  font-weight: bold;
}
.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
  flex: auto
}

.full-width {width: 100%}
.no-margin {margin: 0}.no-margin-bottom{margin-bottom: 0}
.no-padding {padding: 0}
.small-margin{margin:5px}.small-margin-top{margin-top:5px}.small-margin-right{margin-right:5px}.small-margin-left{margin-left:5px}.small-margin-bottom{margin-bottom:5px}.small-margin-x{margin: 0 5px}.small-margin-y{margin: 5px 0 5px 0}
.medium-margin{margin:10px !important}.medium-margin-top{margin-top:10px}.medium-margin-right{margin-right:10px}.medium-margin-left{margin-left:10px}.medium-margin-bottom{margin-bottom:10px}.medium-margin-x{margin: 0 10px 0 10px}.medium-margin-y{margin: 10px 0 10px !important}
.large-margin{margin:15px}.large-margin-top{margin-top:15px}.large-margin-right{margin-right:15px}.large-margin-left{margin-left:15px}.large-margin-bottom{margin-bottom:15px}.large-margin-x{margin: 0 15px 0 15px}.large-margin-y{margin: 15px 0 15px 0}
.small-padding{padding:5px}.small-padding-top{padding-top:5px}.small-padding-right{padding-right:5px}.small-padding-left{padding-left:5px}.small-padding-bottom{padding-bottom:5px}.small-padding-x{margin: 0 5px 0 5px}.small-padding-y{margin: 5px 0 5px 0}
.medium-padding{padding:10px}.medium-padding-top{padding-top:10px}.medium-padding-right{padding-right:10px}.medium-padding-left{padding-left:10px}.medium-padding-bottom{padding-bottom:10px}.medium-padding-x{padding: 0 10px 0 10px}.small-padding-y{margin: 10px 0 10px 0}
.large-padding{padding:15px}.large-padding-top{padding-top:15px}.large-padding-right{padding-right:15px}.large-padding-left{padding-left:15px}.large-padding-bottom{padding-bottom:15px}.large-padding-x{margin: 0 15px 0 15px}.large-padding-y{margin: 15px 0 15px 0}


.hide {
  display: none;
}

.full-row-border {
  width: 1px;
  color: #ccc;
}

// 
// variables
//

@PRIMARY: #2196F3; // blue
@ACCENT: #607D8B; // grey blue
@WARN: #FF5722; // red


//
// components
//

// toolbar

#toolbar-logo {
  .medium-margin-right;
  height: 40px;
  width: 80px;
}

// calendar list

#accept-invite-container {
  .small-padding;
  background: #e0f7fa;
}


#calendar-tile-title {
  .medium-padding;
  text-align: 'center';
  color: white;
  background: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


// profile-card

#user-card-image {
  .medium-margin-right;
  height: 50px;
  width: 50px;
  img {
    border-radius: 100%;
  }
}

.mat-menu-content {
  padding: 0 !important; // only using important to overide framework default!
}
.mat-menu-panel {
  max-width: none !important;
}


// profile page

#app-profile, #app-team  {
  width: 800px;
  bottom: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 200px;
  position: absolute;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#profile-options, #users-list {
  border-right: 1px solid #ccc;
  .no-margin;
  .no-padding;
  width: 250px;
  li {
    list-style: none;
    button {
      .small-padding;
      width: 100%;
    }
  }
}

.selected-profile-option {
  color: white !important;
  background: #800080 !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc0cb, #800080) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc0cb, #800080) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#edit-user-image-overlay { 
  .medium-margin;
  border-radius: 100%;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: absolute;
  &&:hover {
    content: 'warning';
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5)
  }
}

image-cropper {
  margin: 20px;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 9px 9px 9px 9px !important;
}

.user-form {
  mat-form-field {
    width: 100%
  }
  div { button {
    .medium-margin;
  }  }
}

#edit-user-image {
  .medium-margin;
  height: 100px;
  width: 100px;
  img {
    border-radius: 100%;
  }
}

.profile-option-icon {
  .medium-margin;
  height: 100px !important;
  width: 100px !important;
  font-size: 100px !important;

}

// monthpicker

.selected-date {
  // replicate inverted accent button
  color: @ACCENT;
  border: 2px solid @ACCENT !important;
  background-color: white;
  border-radius: 2px;
  pointer-events: none;
  box-sizing: border-box;
}


// spinner

#spinner-text {
  color: white; 
  width: 150px;
  padding: 4px;
  text-align: center;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  background: rgba(29,38,113,1);
  background: -moz-linear-gradient(left, rgba(29,38,113,1) 0%, rgba(195,55,100,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,38,113,1)), color-stop(100%, rgba(195,55,100,1)));
  background: -webkit-linear-gradient(left, rgba(29,38,113,1) 0%, rgba(195,55,100,1) 100%);
  background: -o-linear-gradient(left, rgba(29,38,113,1) 0%, rgba(195,55,100,1) 100%);
  background: -ms-linear-gradient(left, rgba(29,38,113,1) 0%, rgba(195,55,100,1) 100%);
  background: linear-gradient(to right, rgba(29,38,113,1) 0%, rgba(195,55,100,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2671', endColorstr='#c33764', GradientType=1 );
}

.spinner-right-chevron {
  border-radius: 0 100% 100% 0 !important;
  background-color: #C33764 !important;
  color: white !important;

}

.spinner-left-chevron {
  border-radius: 100% 0 0 100% !important;
  background-color: #1D2671 !important;
  color: white !important;
}

// filters

.filter {
  .medium-margin-left;
  // remove allocated floating label space
  .mat-form-field-infix {
    border-top: none;      
  }
}

.tag {
  .medium-margin-left;
  height: 20px;
  width: 20px;
  border-radius: 5px;
}

// calendar

.calendar-container {
  width: 100%;
  border: 1px solid #9E9E9E;
  box-sizing: border-box;
}

.tile {
  box-sizing: border-box;
  width: calc(100% / 7);
  overflow: auto;
  &&::-webkit-scrollbar {
    width: 5px;
  }
  &&::-webkit-scrollbar-track {
      background: #FFF;
      -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
  }
  &&::-webkit-scrollbar-thumb {
      background: #CCC;
      -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  }
  &&::-webkit-scrollbar-thumb:hover {
      background: #AAA;
  }
  &&::-webkit-scrollbar-thumb:active {
      background: #888;
      -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
  }
}

.even-tile {
  background: black;
}

.odd-tile {
  background: white;
}

.tile-border-top {
  border-top: 1px solid #9E9E9E;
}

.tile-border-right {
  border-right: 1px solid #9E9E9E;
}

.calendar-days {
  width: 100%;
  div {
    width: calc(100% / 7);
    text-align: center;
    color: #9E9E9E;
    font-size: 15px;
    padding-bottom: 3px;
  }
}

.calendar-date {
  padding: 3px;
  font-size: 15px;
  color: #757575;
}

.create-job-tile-button {
  height: 24px;
  display: flex !important;
  span {
    line-height: 0;
    color: #757575;
  }
}

.calendar-tile {
  height: 100%;
  width: 100%;
}

.today {
  background: rgba(95, 252, 132, 0.4)
  
}

// jobs

.job {
  z-index: 2;
  padding: 2px;
  width: 100%;
  color: white;
  font-size: 12px;
  cursor: pointer; 
  margin: 2px 0;
  position: relative;
  overflow: hidden;
}

.completed-job {
  position: absolute;
  font-size: 10px;
  right: -184px;
  left: 0;
  top: 15px;
  Font-weight: 700;
  background: #007E33;
  color: white;
  text-align: center;
  -ms-transform: rotate(35deg); /* IE 9 */
  -webkit-transform: rotate(35deg); /* Safari */
  transform: rotate(35deg);
}

.incomplete-job {
  padding: 5px;
  position: absolute;
  right: 10px;
  border-radius: 0 0 7px 7px;
  top: 0px;
  text-align: center;
  Font-weight: 900 !important;
  background: #D50000;
  opacity: 1;
  text-align: center;
  mat-icon {
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
}

.incomplete-job-phase-1 {
  opacity: 1;
}

.incomplete-job-phase-2 {
  opacity: 0
}

.calendar-column {
  min-width: 50%;
}

.job-title {
  font-size: 14px;
}

.job-place {
  font-size: 10px;
}

.job-time {
  font-size: 14px;
}

.job-user {
  font-size: 10px;
}

// job entry

.custom-form-field {
  .flex;
  .medium-margin-right;
}
#field-entry {
  .medium-padding;
  background: #E0F7FA;
}

#job-view-window {
  width: 500px;
}

#job-view-content {
  width: 50%;
  label {
    .large-margin-top;
    font-size: 20px;
  }
}

#color-selection {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.color-selection-item {
  float: left;
  width: calc(100% / 10);
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer; 
  mat-icon {
    margin: auto;
    color: white;
  }
}

#color-label {
  margin-top: 20px;
  color: #757575
}

#add-place {
  height: 40px;
  width: 40px;
  margin: 10px 10px 10px 20px;
  span {
    padding: 0;
  }
}

// job-view 

#job-view-users {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.complete-button {
  // importants to overide mat classes
  margin: 0 5px !important;
  color: white !important;
  background: #007E33 !important;
}

.reopen-button {
  .complete-button;
  background: #FF8800 !important;
}


// dialogue 

.dialogue-label {
  // replicate form label..
  font-size: 13px;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.7);
  
}

.dialogue-content {
  .large-padding;
  height: calc(100% - 145px);
  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
}

.dialogue-header {
  font-size: 30px;
  margin: 10px;
}

.dialogue-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.2;
  z-index: 2;
}

.dialogue-window {
  width: 425px;
  margin: 0 auto;
  background: white;
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 3;
}

#job-entry-window {
  bottom: 15%;
}

// 
// team
// 

#team-container {
  width: 200px;
  border-right: 1px solid #ccc;
}

#team-title {
  text-align: center;
  font-size: 20px;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px;
}

.team-title-selected {
  color: white !important;
  background: #FF416C !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FF4B2B, #FF416C) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FF4B2B, #FF416C) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#team-users-list {
  overflow: auto;
  .no-margin;
  .no-padding;
  width: 200px;
  li {
    list-style: none;
    button {
      .small-padding;
      width: 100%;
    }
  }
}

.selected-user {
  color: white !important;
  background: #f12711 !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.team-route-title {
  .large-padding-left;
  font-size: 20px;
  height: 64px;
  line-height: 64px;
}

.team-user-type-label {
  font-weight: bold;
}

.team-route-label {
  .small-margin-bottom;
  .dialogue-label;
  display: block;
}

#team-user-list, #team-place-list {
  max-width: 201px;
  overflow-x: hidden;
  padding: 5px;
  max-height: 80px;
  overflow-y: auto;
  &&::-webkit-scrollbar {
    width: 5px;
  }
  &&::-webkit-scrollbar-track {
      background: #FFF;
      -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
  }
  &&::-webkit-scrollbar-thumb {
      background: #CCC;
      -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  }
  &&::-webkit-scrollbar-thumb:hover {
      background: #AAA;
  }
  &&::-webkit-scrollbar-thumb:active {
      background: #888;
      -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
  }
}

.place-list-item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: no-wrap;
}

.edit-place {
  &&:hover {
    color: #aaa;
    cursor: pointer;
  }
}

.label-button {
  font-size: 10px;
  margin-left: 5px !important;
  height: 20px;
  width: auto;
  min-width: auto !important;
  display: flex !important;
  padding: 0;
  span {
    line-height: 0;
  }
}

#permissions-list {
  color: #777;
}

// 
// login 
// 

#login-container {
  max-height: calc(80% - 60px);
  overflow: auto;
  width: 600px;
  top: calc(60px + 20%);
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  div {
    box-sizing: border-box;
  }
  &&:first-child {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }
}

#login-logo {
  width: 80px;
  height: 80px;
}

#login-title {
  font-size: 75px;
  margin-left: 20px;
}

#no-account-label {
  .small-margin-bottom;
  .large-margin-top;
  text-align: center;
  width: 100%;
  font-size: 25px;
}

.login-alternative {
  .medium-margin-top;
  .small-margin-bottom;
  text-align: center; 
  font-size: 20px;
}

#register-button {
  .full-width;
  display: flex;
  justify-content: center;
}