<div id="app-team" class="mat-elevation-z24" fxLayout="row">
  <div fxLayout="column" id="team-container">
    <button mat-button id="team-title" (click)="viewTeam()" [ngClass]="{'team-title-selected': overview}">{{ teamName }}</button>
    <ul id="team-users-list">
      <li *ngFor="let user of users">
        <button (click)="selectUser(user)" mat-button [ngClass]="{'selected-user': selectedUser == user}">
          {{ user.alias }}
        </button>
      </li> 
    </ul>
  </div>

  <div fxLayout="column" fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>