
<app-datepicker></app-datepicker>
<div fxLayout="row" class="small-margin-bottom small-margin-left">
    <app-spinner></app-spinner>
    <app-filters></app-filters>
</div>
<app-calendar></app-calendar>