<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon matTooltip="Profile Card">person</mat-icon>
</button>
<mat-menu #menu="matMenu" id="user-card">
  <div fxLayout="column" class="medium-margin">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div id="user-card-image">
      <img *ngIf="picture" [src]="picture" width="50" height="50" />
      <mat-icon *ngIf="!picture" style="font-size: 50px">person</mat-icon>
      </div>

      <div fxLayout="column">
        <div>{{ user.forename }}</div>
        <div>{{ user.surnames }}</div>
      </div>
    </div>

    <div fxLayout="row" class="medium-padding-top">
      <button mat-flat-button class="flex" routerLink="/profile">Settings</button>
      <button mat-flat-button class="flex" (click)="logout()">Logout</button>
    </div>
  </div>
</mat-menu>