<div id="login-container" color="primary" class=" full-width large-padding mat-elevation-z20">
  
    <div fxLayout="row" fxLayoutAlign="center">
      <!-- <img id="login-logo" src="../../../assets/images/ratemytea.png"> -->
      <div id="login-title">Job Calendar</div>
    </div>
    
    <div style="font-size: 20px; text-align: center" class="medium-margin">
        You have successfully registered! Before you log in, please verify your
        account by checking your email address and using the verification link.
    </div>

    <button mat-raised-button color="primary" class="full-width" 
    routerLink="/login">
      Go to Sign In
    </button>
  </div>