<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon matTooltip="Team Calendar">calendar_today</mat-icon>
</button>
<mat-menu #menu="matMenu" (click)="$event.stopPropagation()">
  <div id="calendar-tile-title" (click)="$event.stopPropagation()">Calendar List</div>

  <mat-radio-group (change)="selectCalendar()" [(ngModel)]="selectedTeam" 
  fxLayout="column" class="medium-margin-top small-margin-bottom" (click)="$event.stopPropagation()">
    <div class="medium-margin-right">  
      <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let team of teams">
        <mat-radio-button fxFlex [value]="team" class="large-margin-left small-margin-y">
          <span class="small-margin-x">{{ team.name }}</span>
        </mat-radio-button>

        <button mat-icon-button color="accent" matTooltip="View Team" (click)="viewTeam(team.uuid)">
          <mat-icon>{{ team.name == 'Personal'? 'person': 'people'}}</mat-icon>
        </button>
      </div>

      <div style="font-size: 10px; color: #aaa; text-align: right; margin: 5px">Teams coming soon!</div>
    </div>
  </mat-radio-group>
  
  <!-- <mat-divider></mat-divider>
  <div fxLayout="column" id="accept-invite-container" (click)="$event.stopPropagation()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Invite Token">
    </mat-form-field>

    <button mat-flat-button color="primary">Accept</button>
  </div> -->
</mat-menu>