<div fxLayout="row" fxLayoutAlign="start center" class="large-margin-right">
    <button mat-icon-button class="spinner-left-chevron" (click)="backwards()"><mat-icon>chevron_left</mat-icon></button>
    <span id="spinner-text">{{selectedDate.text}}</span>
    <button mat-icon-button class="spinner-right-chevron" (click)="forwards()"><mat-icon>chevron_right</mat-icon></button>
</div>
