<div id="login-container" color="primary" 
class="full-width large-padding mat-elevation-z20">
  
  <div fxLayout="row" fxLayoutAlign="center">
    <!-- <img id="login-logo" src="../../../assets/images/ratemytea.png"> -->
    <div id="login-title">Jobswift</div>
  </div>
  
  <div style="font-size: 20px; text-align: center" class="large-margin"
  fxLayout="row" fxLayoutAlign="center center">
      <span>{{ status }}</span>
      <mat-spinner [diameter]="30" class="medium-margin" *ngIf="spinner">
      </mat-spinner>
  </div>

  <button mat-raised-button color="primary" class="full-width" 
  routerLink="/home" *ngIf="home === true">
   Go to Home
  </button>

  <button mat-raised-button color="primary" class="full-width" 
  routerLink="/login" *ngIf="home === false">
   Go to Login
  </button>

  <!-- Placeholder whilst determining verification -->
  <button mat-raised-button disabled="true" class="full-width" 
  *ngIf="home === undefined">
  ...
  </button>

</div>