<div fxLayout="row" fxLayoutAlign="start center">
  <div class="team-route-title">{{ user.alias }}{{ user.alias[user.alias.length-1] == 's' ? "'" : "'s" }} Details</div>
  <mat-icon class="medium-margin-left">visibility</mat-icon>
</div>

<div fxLayout="column" class="large-margin-left large-margin-right">
    <div [hidden]="isEditingName">
    <label fxLayout fxLayoutAlign="start center" class="team-route-label">
      <span [ngStyle]="{'margin-top' : me.permissions.includes('leader') && !(!me.permissions.includes('owner') && user.permissions.includes('owner')) ? '0px' : '5px'}">User Alias (name seen by team)</span>
      <button mat-stroked-button color="primary" class="label-button" (click)="editUserAlias()"
      *ngIf="me.permissions.includes('leader') && 
      !(!me.permissions.includes('owner') && user.permissions.includes('owner'))">
        Edit
      </button>
    </label>
    <div class="large-margin-bottom">{{ user.alias }}</div>
  </div>

  <div [hidden]="!isEditingName">
    <form [formGroup]="userForm" (ngSubmit)="saveUserName()">
      <div fxLayout fxLayoutAlign="start center" style="margin-top: 25px">
        <mat-form-field style="width: 240px">
          <input matInput formControlName="name" placeholder="User Alias" autocomplete="off" #userNameInput />
          <mat-error>Name must be between 1 and 24 characters</mat-error>
        </mat-form-field>
        <div class="medium-margin-x">
          <button mat-button type="submit" [disabled]="!userForm.valid">Save</button> 
        </div>
      <button mat-button (click)="isEditingName = false">Cancel</button>
      </div>
    </form>
  </div>
</div>

<!-- 
[ngStyle]="{'margin-top' : me.permissions.includes('leader') && 
!(!me.permissions.includes('owner') && user.permissions.includes('owner')) ? '0px' : '5px'}" -->

<div [ngStyle]="{'margin-top': isEditingName ? '0px' : '11.5px'}">
  <div [hidden]="isEditingPermissions">
    <div fxLayout="column" class="large-margin-x">
      <label fxLayout fxLayoutAlign="start center" class="team-route-label">
        <span>Permission Level</span>
        <button mat-stroked-button color="primary" class="label-button" (click)="editUserPermissions()" 
        *ngIf="me.permissions.includes('leader') && 
        !(!me.permissions.includes('owner') && user.permissions.includes('owner'))">
          Edit
        </button>
      </label>
      <div>{{ user.permissions[0][0].toUpperCase() + user.permissions[0].slice(1, user.permissions[0].length) }}</div>
      <ul id="permissions-list">
        <li *ngIf="user.permissions.includes('owner')">Edit the team name and delete the team</li>
        <li *ngIf="user.permissions.includes('leader')">Alter permission level for <span *ngIf="user.permissions.includes('owner')">all</span> users <span *ngIf="!user.permissions.includes('owner')">that are not owners</span></li>
        <li *ngIf="user.permissions.includes('leader')">Create, edit, and remove <span *ngIf="user.permissions.includes('owner')">all</span> users in a team <span *ngIf="!user.permissions.includes('worker')">that are not owners</span></li>
        <li *ngIf="user.permissions.includes('organiser')">Create, edit and remove places</li>
        <li *ngIf="user.permissions.includes('organiser')">Create, edit, complete and archive all other team users' tasks</li>
        <li *ngIf="user.permissions.includes('worker')">Create, edit, complete and archive all their own tasks</li>
        <li *ngIf="user.permissions.includes('worker') && !user.permissions.includes('leader')">Edit their user alias</li>
      </ul>
    </div>
  </div>

  <div [hidden]="!isEditingPermissions" class="large-margin-left large-margin-right"
  [ngStyle]="{'margin-top': isEditingName ? '25px' : '36.5px'}">
    <!-- No form required for multiple choice.. -->
    <form [formGroup]="userForm" fxLayout fxLayoutAlign="start center" (ngSubmit)="saveUserPermissions()">
      <mat-form-field>
        <mat-select placeholder="Permission Level" formControlName="permissions">
          <ng-container *ngFor="let permission of permissions">

            <mat-option [value]="permission" [ngStyle]="{ 'background' : !me.permissions.includes(permission) ? '#FFEBEE' : '' }"
            [disabled]="!me.permissions.includes(permission)">
              {{ permission[0].toUpperCase() + permission.slice(1, permission.length) }}
            </mat-option>

          </ng-container>
        </mat-select>
      </mat-form-field>
      <div class="medium-margin-x">
        <button mat-button type="submit">Save</button> 
      </div>
    <button mat-button (click)="cancelUserPermissions">Cancel</button>
    </form>
  </div>
</div>