<div id="login-container" fxLayout="column"
class="mat-elevation-z20 full-width large-padding">

  <div fxLayout="row" fxLayoutAlign="center">
    <!-- <img id="login-logo" src="../../../assets/images/ratemytea.png"> -->
    <div id="login-title">Jobswift</div>
  </div>

  <div style="font-size: 20px; text-align: center">
    Please enter your details below to register.
  </div>

  <form [formGroup]="registerForm" class="small-margin-bottom">

    <mat-form-field class="full-width">
      <input matInput placeholder="Email Address" formControlName="email" (ngModelChange)="checkInputs()">
      <mat-error *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors.required">Email address in required.</mat-error>
      <mat-error *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors.email">Not a valid email address.</mat-error>
      <mat-error *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors.exists">Email address already in use.</mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-between" class="medium-margin-top medium-margin-bottom">
      <mat-form-field fxFlex="47%">
        <input matInput placeholder="Forename" formControlName="forename" (ngModelChange)="checkInputs()">
        <mat-error *ngIf="registerForm.controls['forename'].errors && registerForm.controls['forename'].errors.required">Forename is required.</mat-error>
        <mat-error *ngIf="registerForm.controls['forename'].errors && registerForm.controls['forename'].errors.maxlength">Forename can only be 10 characters long.</mat-error>
        <mat-error *ngIf="registerForm.controls['forename'].errors && registerForm.controls['forename'].errors.pattern">Forename can't contain numbers.</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="47%">
          <input matInput placeholder="Surname(s)" formControlName="surnames" (ngModelChange)="checkInputs()">
          <mat-error *ngIf="registerForm.controls['surnames'].errors && registerForm.controls['surnames'].errors.required">Surname(s) is required.</mat-error>
          <mat-error *ngIf="registerForm.controls['surnames'].errors && registerForm.controls['surnames'].errors.maxlength">Surname(s) can only be 16 characters long.</mat-error>
          <mat-error *ngIf="registerForm.controls['surnames'].errors && registerForm.controls['surnames'].errors.pattern">Surname(s) can't contain numbers.</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field fxFlex="47%">
        <input matInput placeholder="Username" formControlName="username" (ngModelChange)="checkInputs()">
        <mat-error *ngIf="registerForm.controls['username'].errors && registerForm.controls['username'].errors.required">
          Username address in required.
        </mat-error>
        <mat-error *ngIf="registerForm.controls['username'].errors && registerForm.controls['username'].errors.maxlength">
          Username can only be 16 characters long.
        </mat-error>
        <mat-error *ngIf="registerForm.controls['username'].errors && registerForm.controls['username'].errors.pattern">
          Invalid characters. Please use: a-z, 0-9, _
        </mat-error>
        <mat-error *ngIf="registerForm.controls['username'].errors && registerForm.controls['username'].errors.exists">
          Username already in use.
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="47%">
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password"
          (ngModelChange)="checkInputs()">
        <mat-icon matSuffix class="pointer" (click)="hide = !hide">
          {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].errors.required">
          Password is required.
        </mat-error>
        <mat-error *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].errors.maxlength">
          Password can only be 16 characters long.
        </mat-error>
        <mat-error *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].errors.pattern">
          Invalid password. Must include an uppercase,lowercase and a numeric character.
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  <button color="primary" mat-flat-button id="register-button"
  (click)="registerUser()" [disabled]="!register || spinner">
    <span *ngIf="!spinner">Register</span>
  
    <span *ngIf="spinner">
      <mat-spinner [diameter]="27" class="small-margin-y"></mat-spinner>
    </span>
  </button>
  <div class="login-alternative">Already Registered?</div>
  <button color="primary" mat-flat-button class="full-width" routerLink="/login">Go To Sign In</button>

</div>