<div fxLayout fxLayoutAlign="start center" class="large-margin-right">
  <div class="team-route-title">Team Details</div>
  <mat-icon class="medium-margin-left">info</mat-icon>
</div>

<div fxLayout="column" class="large-margin-left large-margin-right">
    <div [ngStyle]="{'display': isEditingName ? 'none' : ''}">
    <label fxLayout fxLayoutAlign="start center" class="team-route-label">
      <span>Team Name</span>
      <button mat-stroked-button color="primary" class="label-button" (click)="editTeamName()"
      *ngIf="me.permissions.includes('owner')">
        Edit
    </button>
    </label>
    <div class="large-margin-bottom">{{ team.name }}</div>
  </div>

  <div [ngStyle]="{'display': !isEditingName ? 'none' : ''}">
    <form [formGroup]="teamNameForm" (ngSubmit)="saveTeamName()">
      <div fxLayout fxLayoutAlign="start center" style="margin-top: 25px">
        <mat-form-field style="width: 240px">
          <input matInput formControlName="teamName" placeholder="Team Name" autocomplete="off" #teamNameInput />
          <mat-error>Name must be between 1 and 24 characters</mat-error>
        </mat-form-field>
        <div class="medium-margin-x">
          <button mat-button type="submit" [disabled]="!teamNameForm.valid">Save</button> 
        </div>
      <button mat-button (click)="isEditingName = false">Cancel</button>
      </div>
    </form>
  </div>

  <label class="team-route-label small-margin-bottom" [ngStyle]="{'margin-top': isEditingName ? '8px' : '20px'}">Team Users</label>
  <div fxLayout class="large-margin-bottom">
    <div *ngFor="let userType of userTypes | keyvalue" fxFlex>
      <label class="team-user-type-label">{{ userType.key }}</label>
      <div id="team-user-list">
        <div *ngFor="let user of userType.value">
          <div>{{ user.alias }}</div>
        </div>
      </div>
    </div>
  </div>
  
  <label fxLayout fxLayoutAlign="start center" class="team-route-label">
    <span>places/Locations</span>
    <button mat-stroked-button color="primary" [disabled]="placeInput" 
    class="label-button" (click)="addplace()" *ngIf="me.permissions.includes('leader')">Add</button>
  </label>

    <div fxLayout fxLayoutAlign="start center">
      <div fxLayout="column" id="team-place-list">
        <div *ngFor="let place of team.places">
          <div (click)="me.permissions.includes('leader') ? openEditplace(place) : return">
            <div [ngClass]="{'edit-place' : me.permissions.includes('leader')}" class="place-list-item">
              {{ place.name }}
            </div>
          </div>
        </div>
      </div>

      <div [ngStyle]="{'display': !placeInput ? 'none' : ''}" style="margin-left: 30px">
        <form [formGroup]="placeForm" (ngSubmit)="saveplace()">
          <div fxLayout fxLayoutAlign="start center">
            <mat-form-field>
              <input matInput formControlName="placeName" placeholder="place Name" autocomplete="off" #placeNameInput />
              <mat-error>Name must be between 1 and 24 characters</mat-error>
            </mat-form-field>
            <div class="medium-margin-x">
              <button mat-button type="submit" [disabled]="!placeForm.valid">Save</button> 
            </div>
            <button mat-button type="button" (click)="cancelAddplace()">Cancel</button>
            <div class="medium-margin-x">
              <button type="button" color="warn" [ngStyle]="{'display': editPlace ? 'block' : 'none' }" 
              (click)="deleteplace($event)" mat-button>Delete</button> 
            </div>
          </div>
        </form>
      </div>
    </div>

  
  <label class="team-route-label small-margin-bottom">Team Jobs</label>
  <div fxLayout class="large-margin-bottom">
    <div *ngFor="let jobType of jobTypes | keyvalue" fxFlex>
      <label class="team-user-type-label">{{ jobType.key }}</label>
      <div>{{ jobType.value }}</div>
    </div>
  </div>
</div>