
<form fxLayout="column" fxFill fxLayoutAlign="center center" class="profile-form" [formGroup]="preferencesForm">
  <mat-icon color="accent" class="profile-option-icon">edit</mat-icon>
  
  <div fxLayout="column" class="large-margin-y">
    <mat-slide-toggle formControlName="darkTheme">Dark Theme</mat-slide-toggle>
    <mat-slide-toggle formControlName="emailUpdates">Emails about App News and Updates</mat-slide-toggle>

    <div class="large-margin-top"></div>
    <mat-divider></mat-divider>
    <div class="large-margin-bottom"></div>

    <mat-form-field>
        <mat-select placeholder="Time Format" formControlName="timeFormat">
          <mat-option value="uk">UK (DD/MM/YYYY)</mat-option>
          <mat-option value="us">US (MM/DD/YYYY)</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Language" formControlName="language">
        <mat-option value="english">English</mat-option>
        <mat-option disabled="true" value="english">To be added..</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxlayout="row" fxLayoutAlign="space-evenly">
    <button type="submit" mat-flat-button color="primary">Confirm Change</button>
  </div>
</form> 

