
<form fxLayout="column" fxFill fxLayoutAlign="center center" class="profile-form" [formGroup]="notificationsForm">
  <mat-icon color="accent" class="profile-option-icon">notifications</mat-icon>
  
  <div fxLayout="column" class="large-margin-y">
    <div class="small-margin-bottom bold">Personal</div>
    <mat-slide-toggle formControlName="daily">Daily Job List</mat-slide-toggle>
    <mat-slide-toggle formControlName="weekly">Weekly Job List</mat-slide-toggle>
    <mat-slide-toggle formControlName="monthly">Monthly Job List</mat-slide-toggle>
    <mat-slide-toggle formControlName="overdue">Overdue Job List</mat-slide-toggle>

    <div class="medium-margin-top small-margin-bottom bold">Team</div>
    <mat-slide-toggle formControlName="accepted">New Team Member</mat-slide-toggle>
    <mat-slide-toggle formControlName="assigned">You're Assigned to a Job</mat-slide-toggle>
    <mat-slide-toggle formControlName="unassigned">You're Unassigned a Job</mat-slide-toggle>
    <mat-slide-toggle formControlName="completed">One of Your Jobs is Completed</mat-slide-toggle>
    <mat-slide-toggle formControlName="edited">One of Your Jobs is Edited</mat-slide-toggle>
    <mat-slide-toggle formControlName="archived">One of Your Jobs is Archived</mat-slide-toggle>
  </div>

  <div fxlayout="row" fxLayoutAlign="space-evenly">
    <button type="submit" mat-flat-button color="primary">Update</button>
  </div>

</form> 

